<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaofeng.mobile.roboguice_demo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="roboguice.modules" -->
        <!-- android:value="com.gaofeng.mobile.roboguice_demo.BaseDataModel,com.gaofeng.mobile.modules.BabyModule" /> -->

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:parentActivityName="roboguice.activity.RoboActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="roboguice.activity.RoboActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".MyBasicActivity" -->
        <!-- android:label="@string/title_activity_my_basic" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->

    </application>

</manifest>